<div class="app-main-content">
  <mat-card class="app-card-view">
    <adf-card-view
      [copyToClipboardAction]="copyToClipboardAction"
      [displayClearAction]="displayClearAction"
      [displayEmpty]="displayEmpty"
      [displayNoneOption]="displayNoneOption"
      [editable]="editable"
      [multiValueSeparator]="multiValueSeparator"
      [properties]="properties"
      [useChipsForMultiValueProperty]="useChipsForMultiValueProperty"
    >
    </adf-card-view>
  </mat-card>

  <div class="app-console" #console>
    <h3>Changes log:</h3>
    <p *ngFor="let log of logs">{{ log }}</p>
  </div>
</div>
