<div style="height: 300px">
  <adf-document-list
    #documentList
    [additionalSorting]="additionalSorting"
    [allowDropFiles]="allowDropFiles"
    [contentActions]="contentActions"
    [contentActionsPosition]="contentActionsPosition"
    [contextMenuActions]="contextMenuActions"
    [currentFolderId]="currentFolderId"
    [display]="display"
    [emptyFolderImageUrl]="emptyFolderImageUrl"
    [filterValue]="filterValue"
    [headerFilters]="headerFilters"
    [imageResolver]="imageResolver"
    [includeFields]="includeFields"
    [loading]="loading"
    [locationFormat]="locationFormat"
    [maxItems]="maxItems"
    [multiselect]="multiselect"
    [navigate]="navigate"
    [navigationMode]="navigationMode"
    [node]="node"
    [permissionsStyle]="permissionsStyle"
    [preselectNodes]="preselectNodes"
    [rowStyle]="rowStyle"
    [rowStyleClass]="rowStyleClass"
    [selectionMode]="selectionMode"
    [showHeader]="showHeader"
    [sorting]="sorting"
    [sortingMode]="sortingMode"
    [thumbnails]="thumbnails"
    [where]="where"
    [rowFilter]="rowFilter"
  >
  </adf-document-list>
</div>
