:host ::ng-deep .adf-highlight {
  background-color: #ffff00;
}

td,
th {
  border: 1px solid;
  text-align: left;
  padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(odd) {
  background-color: #b4b1b1;
}