<div *ngIf="showTimeAgo">
    <table>
        <tr>
            <th>Before using the pipe</th>
            <th>After using the pipe</th>
          </tr>
          <tr>
            <td>{{textForDate}} {{ date | date }}</td>
            <td>{{textForDate}} {{ date | adfTimeAgo : locale }}</td>
          </tr>
    </table>    
</div>

<div *ngIf="showMultiValue">
    <table>
        <tr>
            <th>Before using the pipe</th>
            <th>After using the pipe</th>
          </tr>
          <tr>
            <td>{{ animals }}</td>
            <td>{{ animals | multiValue : customSeparator }}</td>
          </tr>
    </table>    
</div>

<div *ngIf="showFormatSpace">
    <table>
        <tr>
            <th>Before using the pipe</th>
            <th>After using the pipe</th>
          </tr>
          <tr>
            <td>{{ textToFormat }}</td>
            <td>{{ textToFormat | formatSpace : replaceChar : lowercase }}</td>
          </tr>
    </table>     
</div>

<div *ngIf="showDecimalNumber">
    <table>
        <tr>
            <th>Before using the pipe</th>
            <th>After using the pipe</th>
          </tr>
          <tr>
            <td>{{ numberToTransform }}</td>
            <td>{{ numberToTransform | adfDecimalNumber : digitsInfo : locale }}</td>
          </tr>
    </table>
</div>

<div *ngIf="showFileSize">
    <table>
        <tr>
            <th>Before using the pipe</th>
            <th>After using the pipe</th>
          </tr>
          <tr>
            <td>{{ sizeInBytes }}</td>
            <td>{{ sizeInBytes | adfFileSize : decimalPlacesNumber }}</td>
          </tr>
    </table>
</div>

<div *ngIf="showLocalizedDate">
    <table>
        <tr>
            <th>Before using the pipe</th>
            <th>After using the pipe</th>
          </tr>
          <tr>
            <td>{{ date }}</td>
            <td>{{ date | adfLocalizedDate : format : locale }}</td>
          </tr>
    </table>
</div>

<div *ngIf="showFullName">
    Full name pipe result: {{ user | fullName }}
</div>

<div *ngIf="showUserInitial">
    Username initials pipe result: <div [outerHTML]="user | usernameInitials : className : delimiter "></div>
</div>

<div *ngIf="showTextHighlight">
    <table>
        <tr>
            <th>Before using the pipe</th>
            <th>After using the pipe</th>
          </tr>
          <tr>
            <td>{{ summary }}</td>
            <td><div [innerHTML]="summary | highlight : rudeWordList"></div></td>
          </tr>
    </table>
</div>

<div *ngIf="showMimeTypeIcon">
    Mime type icon: <img style="vertical-align:middle" src='{{ icon | adfMimeTypeIcon }}' />
</div>

<div *ngIf="showAppConfig">
    <table>
        <tr>
            <th>Config property name</th>
            <th>Config property value obtained by the pipe</th>
          </tr>
          <tr>
            <td>{{ config }}</td>
            <td>{{ config | adfAppConfig : fallbackText }}</td>
          </tr>
    </table>
</div>

<div *ngIf="showAppConfigChaining">
    <table>
        <tr>
            <th>Config property name</th>
            <th>Config property value obtained by the pipe without chaining</th>
            <th>Config property value obtained by the pipe with chaining</th>
          </tr>
          <tr>
            <td>{{ configForChaining }}</td>
            <td>{{ configForChaining | adfAppConfig }}</td>
            <td>{{ configForChaining | adfAppConfig | multiValue : ' --- ' }}</td>
          </tr>
    </table>
</div>

<div *ngIf="showNodeNameTooltip">
    <span title="{{ node | adfNodeNameTooltip }}">Node</span> &lt;- hover over this!
</div>
