<div *ngIf="showTimeAgo">
    {{textForDate}} {{ date | adfTimeAgo : locale }}
</div>

<div *ngIf="showMultiValue">
    Animals: {{ animals | multiValue : customSeparator }}
</div>

<div *ngIf="showFormatSpace">
    {{ textToFormat | formatSpace : replaceChar : lowercase }}
</div>

<div *ngIf="showDecimalNumber">
    {{ numberToTransform | adfDecimalNumber : digitsInfo : locale }}
</div>

<div *ngIf="showFileSize">
    File Size: {{ sizeInBytes | adfFileSize : decimalPlacesNumber }}
</div>

<div *ngIf="showLocalizedDate">
    Current date: {{ date | adfLocalizedDate : format : locale }}
</div>

<div *ngIf="showFullName">
    Project Leader: {{ user | fullName }}
</div>