<adf-info-drawer [showHeader]="showHeader" [title]="title" [selectedIndex]="selectedIndex" (currentTab)="onTabChange($event)" class="info-drawer-box">
  <div info-drawer-buttons>
    <mat-icon (click)="onClick()">clear</mat-icon>
  </div>

  <adf-info-drawer-tab [label]="label1" [icon]="[icon1]"
    ><div class="info-drawer-tab-text">{{ tab1Text }}</div></adf-info-drawer-tab
  >

  <adf-info-drawer-tab [label]="label2" [icon]="[icon2]" *ngIf="showSecondTab"
    ><div class="info-drawer-tab-text">{{ tab2Text }}</div></adf-info-drawer-tab
  >
</adf-info-drawer>
