.app-main-content {
    padding: 0 15px;
}

.search-container{
    width: 60%;
    display: inline-block;
}

.search-console {
    width: 35% ;
    display: inline-block ;
    vertical-align: top ;
    margin-left: 10px ;
    height: 100% ;
    overflow: scroll ;
    padding-bottom: 30px ;
  
    h3 {
        margin-top: 0;
    }
  
    p {
        display: block;
        font-family: monospace, monospace;
        margin: 0;
    }
}
