<div *ngIf="showAppConfig">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="propertyName">
      <th mat-header-cell *matHeaderCellDef>Config property name</th>
      <td mat-cell *matCellDef="let element">{{ element }}</td>
    </ng-container>

    <ng-container matColumnDef="propertyValue">
      <th mat-header-cell *matHeaderCellDef>Config property value obtained by the pipe</th>
      <td mat-cell *matCellDef="let element">{{ element | adfAppConfig: fallbackText }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<div *ngIf="!showAppConfig">
  <table mat-table [dataSource]="dataSourceChaining" class="mat-elevation-z8" style="width: 60%">
    <ng-container matColumnDef="propertyName">
      <th mat-header-cell *matHeaderCellDef>Config property name</th>
      <td mat-cell *matCellDef="let element">{{ element }}</td>
    </ng-container>

    <ng-container matColumnDef="propertyValueBeforeChaining">
      <th mat-header-cell *matHeaderCellDef>Config property value obtained by the pipe without chaining</th>
      <td mat-cell *matCellDef="let element">{{ element | adfAppConfig }}</td>
    </ng-container>

    <ng-container matColumnDef="propertyValueAfterChaining">
      <th mat-header-cell *matHeaderCellDef>Config property value obtained by the pipe with chaining</th>
      <td mat-cell *matCellDef="let element">{{ element | adfAppConfig | multiValue: ' --- ' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsChaining"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsChaining"></tr>
  </table>
</div>
